<!DOCTYPE html>
<html class="h-100">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <link rel="stylesheet" asp-href-include="lib/font-awesome/css/*.css" />
    <title>UNFSolutions</title>
</head>
<body class="d-flex flex-column h-100%">
    <nav class="navbar navbar-inverse bg-info justify-content-between">
        <div>
            <a class="navbar-brand text-white" asp-controller="Home" asp-action="Index">UNF Solutions</a>
            <a class="text-white" 
               asp-controller="Product" asp-action="List">
                 Products
            </a>
        </div>
        <div class="float-right">
            @await Component.InvokeAsync("CartSummary")
        </div>
    </nav>
    <div class="col" style="height: 100%; margin: 0; padding: 0">
        <div class="col" style="margin: 0; padding: 0">
            <div class="col" style="margin: 0; padding: 0">
                @RenderBody()
            </div>
        </div>
    </div>
    <nav class="navbar navbar-inverse bg-info justify-content-center">
        <div>
            <a class="text-white" asp-controller="Home" asp-action="Policies" style="margin: 0 18px">Policies</a>
            <a class="text-white" asp-controller="Home" asp-action="FAQ" style="margin: 0 18px">FAQ</a>
            <a class="text-white" asp-controller="Home" asp-action="About" style="margin: 0 18px">About</a>
        </div>
    </nav>
</body>
</html>